.r_pro{ width: 707px;  padding-bottom: 10px; overflow: hidden;}
.r_pro .sog{ height: 30px; width: 707px; margin-top:5px; background: url(../images/bg_x.gif) repeat-x 0 -93px;  display: block; font-size:14px; color:#555; line-height: 30px; padding-left:5px; text-align: left; overflow: hidden;}
.r_pro .sog h2{margin-left: 5px; padding-left: 12px;  background:url(../images/bg_not.gif) no-repeat -494px -273px; float:left; display:inline;}


.pfd{ width:687px; overflow: hidden; float: left; display: inline; margin-left: 10px; margin-top: 15px; border-bottom: #A2A2A2 dotted 1px;}
.pfd span,.pfd p,.pfd dd,.pfd dt{padding:0; margin:0;}

.pfd .le{ width: 324px; float: left ;display: inline;}
.pfd .le dt{ width: 324px; height: 218px; background:#E6E6E6; text-align:  center;}
.pfd .le dd{ text-align:  center;}
.pfd .le dd .pro{ height: 61px; width: 324px;background:url(../images/bg_x.gif) repeat-x 0 -157px; }
.pfd .le dd .pro p a{ float:left; display:inline;  margin-top:8px; margin-left:10px; border:#999999 solid 1px;}
.pfd .le dd .pro p img{ width:55px; height:39px;}
.pfd .le dd .pro p a.cur{border:none; border:#82ACD5 solid 2px;}
.pfd .le dd .pro .leb,.pfd .le dd .pro .rib{ width:21px;height: 61px;background:url(../images/bg_x.gif) repeat-x 0 -218px;}
.pfd .le dd .pro .leb img,.pfd .le dd .pro .rib img{ margin-top:25px;}
.leb a,.rib a{margin:25px auto 0 auto;width:7px;height:11px;display:block;background:url(../images/bg_not.gif) no-repeat;}
.leb a{background-position:0 -233px;}
.rib a{background-position:-7px -233px;}

.pfd .le dd p.sear{ display: block; height: 39px; overflow: hidden;  margin-top: 5px;width: 304px; text-align: left; margin: 0 auto;}
.pfd .le dd p.sear span{ background: url(../images/bg_not.gif) no-repeat 0 -258px; width:100px; overfolw:hidden; padding-left: 17px;line-height: 20px; font-weight: bold;}
.pfd .le dd p.sear a{ display: block; width: 180px; float: right;display: inline; line-height: 16px; margin-top: 3px;}
.pfd .ri {width: 300px; float: left; display: inline;overflow:hidden; margin-left: 15px;}
.pfd .ri h3{font:bold 12px arial;padding:0;padding-left:4px;color:#686868; text-align: left; display: block; height: 27px; line-height: 27px; margin:0; }
.pfd .ri .tables{ margin-top:3px;}
.pfd .ri .tables th{padding:4px;font:normal 11px/1em arial!important;border-bottom:dotted 1px #afafaf!important; text-align: left;}
.pfd .ri .tables td{padding:4px;font:bold 11px/1em arial!important;border-bottom:dotted 1px #afafaf!important;/*word-break:break-all;*/}
.pfd .ri .sub{margin-top: 10px;   float:left; display:inline;  }



.detail{  width:687px; border-bottom: #A2A2A2 dotted 1px;float: left; display: inline; margin-left: 10px;margin-top:10px; }


.key{ text-align: left; width:687px; font-weight: bold; line-height: 25px; border-bottom: #A2A2A2 dotted 1px;float: left; display: inline; margin-left: 10px; }
.key a{ margin-left: 5px;}

.send{ width:687px; margin:10px 0; height:253px; text-align: left; float: left; display: inline; margin-left: 10px; background:#F5F5F5;}
.send span{ height:20px;  width:687px; display:block; line-height:20px; margin:15px 0; font-size:18px; font-weight:bold; text-indent:8px;}
.send span b{ font-size:13px; width:80px; background:#fff; height:20px;}
.send .le{ width:150px; text-align:center; float:left;display:inline;}
.send .le div{width:104px; height:104px; border:#CDCDCD solid 1px; }
.send .le p{width:150px; margin-bottom:10px;  height:25px; line-height:25px; text-align:center; display:block;  font-weight:bold;  overflow:hidden;}
.send .ri{ width:525px;float:left;display:inline;}
.send .ri textarea{width:504px; height:124px; }
.send .ri b{ font-size:10px; color:#888888; width:504px; height:16px; line-height:16px;display:block; margin-bottom:8px; }
.send .ri p{width:525px; height:25px; text-align:center; display:block;}
.send .ri p a{height:24px; font-size:13px;  float:left; display:inline;  margin-left:100px; background:url(../images/index_84-2.gif) repeat-x; line-height:24px; font-weight:bold; text-align:center; padding:0 13px; border-left:#FDC16D solid 1px; border-right:#A65600 solid 1px; }
.send .ri p a img{ margin-right: 5px; margin-top: 7px;}

.cpn{ width: 687px; overflow: hidden; border:#DFDFDF solid 1px;  text-align: left; margin: 0 auto;margin-top: 10px; margin-bottom: 10px; line-height: 22px; }

.cpn dd{ margin:0; padding:0; background:#f1f1f1 ;font-family:Verdana, Arial, Helvetica, sans-serif;height: 25px; display: block; text-align: left; font-weight: bold; text-indent: 10px; font-size: 12px; line-height: 25px; }
.cpn dt{ width: 190px; margin-right: 20px; background: url(../images/aas.gif) no-repeat left 8px; text-indent: 8px; margin-left: 10px; float: left; display: inline;}

.pfd .le dt{ width: 312px; height: 205px; padding:6px; background:#E6E6E6; text-align:  center;}
.pfd .le dt a{ width:312px; height:205px; background:#fff; display:table-cell;vertical-align:middle;text-align:center;*font-size:185px;*display:block}
.pfd .le dt img{vertical-align:middle;}