.r_pro{ width: 707px;  padding-bottom: 10px; overflow: hidden;}
.r_pro .sog{ height: 30px; width: 707px; margin-top:5px; background: url(../images/bg_x.gif) repeat-x 0 -93px; display: block; font-size:13px; color:#555; line-height: 30px; padding-left:5px; text-align: left; overflow: hidden;}
.r_pro .sog strong{margin-left: 5px; padding-left: 12px; background:url(../images/bg_not.gif) no-repeat -494px -273px; float:left; display:inline;}




.r_pro .cpn{ width: 687px; overflow: hidden; border:#DFDFDF solid 1px;  text-align: left; margin: 0 auto;margin-top: 10px; padding-bottom: 10px; line-height: 22px; }
.r_pro .cpn span{  background:#f1f1f1; font-weight: bold;height: 25px; display: block; text-align: left; text-indent: 10px; font-size: 13px; line-height: 25px; }
.r_pro .cpn div{ margin: 0 5px;  width: 10%;}
.r_pro .cpn ul{ float: left; display:  inline; width: 85%;overflow: hidden;}
.r_pro .cpn li{ background:url(../images/bg_not.gif) no-repeat -494px -122px; width: 175px;  overflow: hidden; margin-right: 5px; padding-left: 10px; font-family: Arial;font-size: 12px;float: left; display:  inline; }
.r_pro .cpn dd { margin-left: 10px;  margin-top: 10px;}

.r_pro .pro{ width: 685px; overflow: hidden; border:#DFDFDF solid 1px;  text-align: left; margin: 0 auto;margin-top: 10px; padding-bottom: 10px; line-height: 22px; }
.pro span{ background: #f1f1f1; font-weight: bold; height: 25px;  display: block; text-align: left; text-indent: 10px; font-size: 13px; line-height: 25px; }
.pro div.list{ width: 320px; margin-right: 10px; float: left; display: inline;}

.pro ul{list-style-type: none;  }
.pro ul li{margin-left: 13px; line-height: 20px; }
.pro ul li a{background:url(../images/bg_not.gif) no-repeat -494px -122px; padding-left: 10px; font-family: Arial;font-size: 11px; width:100% ; display: block;}
.pro ul li a.cur{font-family: Arial, Helvetica, sans-serif;  font-weight: bold; font-size: 12px;padding-left: 10px; margin-top:3px; color: #000;  background: #E5E5E5 url(../images/bg_x.gif) repeat-x 0 -279px;*background-position:0 -280px;}

.pro div.cp{ width: 637px; overflow: hidden; margin-left: 20px;margin-top:20px; border-top:#dcdcdc dotted 1px; padding-bottom: 10px; text-align: center; line-height: 18px;}
.pro div.cp p{width: 607px; margin:0 auto; margin-top:10px; display:block; }



