<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">OMS</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="{:url('index/admin/verify')}" method="POST">
                        <div class="form-group">
                            <label class="control-label col-lg-2">用户名:</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" name="user">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">密码:</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="password" name="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input class="btn btn-primary" type="submit" name="submit" value="登录">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>