<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="cheap web hosting, cheap webhosting, web site hosting,low cost web hosting, affordable web hosting, domain hosting, business web hosting, reseler web hosting, ecommerce hosting, virtual dedicated server, virtual private server, managed dedicated server, domain name, domain registration, web design, cheap domain registration, Cpanel 6, shared hosting" />
    <meta name="description" content="Provides Web Hosting and Domain Registration Service at Affordable Prices. We also offer Reseller Hosting, Virtual Private Server, Managed Dedicated Server and Web Site Development." />
    <link rel="stylesheet" href="__STATIC__/css/index/index.css">
    <script type="text/javascript" src="__STATIC__/js/home/home.js"></script>
</head>
<body>
<!--header-->
{include file="public/reception/header"/}
<!--end header-->
<!--content-->
<div class="content_add"><a href="{:url('index/index/add_site')}">Add your website</a></div>
<div class="content">
    {volist name="type" id="v"}
    <div class="classify">
        <ul>
            <li class="classify_line"><a href="{$request}{:url('index/index/classify')}?type={$v.type}">{$v.type}</a></li>
        </ul>
    </div>
    <div class="classify_site">
        {volist name="data" id="vo"}
        {if condition="$v.id ==$vo.type_id"}
        <ul>
            <li><a href="{$vo.site}" target="view_window">{$vo.name}</a></li>
        </ul>
        {/if}
        {/volist}
    </div>
    {/volist}

</div>
<!--end content-->
<!--foot-->
{include file="public/reception/foot"/}
<!--end foot-->
</body>
</html>