body{font-family:Arial;font-size:12px;color:#333;background:#fff; font-family: verdana,Arial; margin: 0; padding: 0;}
img{ border:none;}
a{color:#0072c6;text-decoration:none;}
a:hover{color:#1e82cc;text-decoration:underline;}

h2{font-weight:normal;font-size:12px; padding: 0; margin: 0;}

.sider_list li strong{font-weight:normal;font-size:12px;}

.hl_f{color:#fff}
.hl_f a:link{ color:#fff; text-decoration: none}
.hl_f a:visited{ color:#fff;  text-decoration: none}
.hl_f a:hover{ color:#fff; text-decoration: underline}

a.hl_2:visited {
        font-size: 14px;
	color: #fff;
}
a.hl_2:hover {
        font-size: 14px;
	color: #fff;
}
a.hl_2:active {
        font-size: 14px;
	color: #fff;
}
a.hl_2:link {
        font-size: 14px;
	color: #fff;
}

.hl_0{color:#333}
.hl_0 a:link{ color:#333; text-decoration: none}
.hl_0 a:visited{ color:#333;  text-decoration: none}
.hl_0 a:hover{ color:#333; text-decoration: underline}


.fl{float:left; display: inline;}
.fr{float:right;}
.cl,.cb{clear: both; width: 100%; height: 0; overflow: hidden;}
.cb_10{clear: both; width: 100%; height: 10px; overflow: hidden;}
.cb_5{clear: both; width: 100%; height: 5px; overflow: hidden;}


.header,.main_wrap,.footer_wrap{ width: 950px; margin: 0 auto; }
.head{ height: 80px; width: 950px; }
.head table{ width: 100%;}

.logo{ margin-left: 5px;}
.lan_wrap{ width: 225px; height: 80px; overflow: hidden;}
.head_title{ line-height: 20px;padding: 0 15px 0 20px; }
.lan_wrap p{ margin: 0; display: block; text-align: right;}
.head_title p{ margin: 0;}
.sel{ position: relative; font-size: 11px;width: 150px; font-weight: bold; float: right; display: inline; background: #fff; margin-top: 10px; padding-left: 3px; background: #f1f1f1; color:#000;  overflow: hidden; height: 19px;line-height: 19px;  }
.sel a{ position: absolute; top:1px; right:1px; width:16px; height:17px; }
.sel a.col{background: url(../images/index_002.gif) 100% -157px; }
.sel a.ope{background: url(../images/index_002.gif) 100% -279px; }

.menu_wrap{ width: 100%;  height: 38px; background: url(../images/index_001.gif) 0 0;}
.menu_wrap ul{ height: 38px;  padding: 0; margin: 0; }
.menu_wrap li{ padding:0 20px; height: 28px;  line-height: 28px; margin-top: 5px;  float: left; display: inline; background: url(../images/index_001.gif) no-repeat 100% -122px ; }
.menu_wrap li.l_b{ width: 9px; height: 38px; padding: 0; margin: 0; background: url(../images/index_001.gif) no-repeat 0 -38px;}
.menu_wrap li.r_b{ width: 9px; height: 38px;padding: 0; margin: 0; float: right; background: url(../images/index_001.gif) no-repeat 100% -76px;}
.menu_wrap li.cur{ background: #cd0f38}
.menu_wrap li.cur a{ color: #FFF;  font-weight: bold;  }
.sider_list li.cur{ background: #dcdcdc url(../images/index_003.gif) no-repeat  0 11px;}

.show_menu{ position: absolute; border:#fff9a9 solid 1px; padding: 10px;  background: #fff; width: 140px; left: 0; top:38px; display:  none;}
.show_menu a{background: url(../images/index_006.gif) no-repeat 0 6px;padding-left: 10px; display: block; padding-bottom: 5px; line-height: 16px;}

.guide_wrap{  width: 950px; margin: 0 auto;line-height: 18px; padding: 4px 0;}
.guide_wrap a{ padding-right:15px; display: inline; margin-right: 5px;background: url(../images/index_002.gif) 100% -239px }
.guide_wrap h1{ font-weight: normal; margin: 0; padding:0;  display: inline; font-size:12px;}


.f_5{ color: #555; font-size: 11px;}
.f_3{ display: block; padding-bottom: 4px; line-height: 18px; font-size: 11px;}
.box_315{ width: 208px; background: #fff; border:#dbdbdb solid 1px; }
.box_400{ width: 509px; background: #fff; border:#dbdbdb solid 1px; }
.box_title{ padding:7px 0px 7px 10px; color: #333; font-weight: bold; font-size: 11px; line-height: 14px;  background: #ebebeb; border:#fff solid 1px;}
.box_title span{ font-weight: normal; color: #666; }
.box_content{ background: #fff; line-height: 22px; padding-bottom: 5px; }
.flash_wrap{ width: 160px; height: 105px; margin: 8px auto;}
.flash_text{ width: 190px; margin: 0 auto; }

.sider_wrap{ width: 210px;}
.box_210{ width: 208px; background: #fff; border:#dbdbdb solid 1px; }

.sider_list{ width: 208px; padding-top: 5px; }
.sider_list ul{ width: 192px;margin: 0 auto; padding: 0; font-size: 11px;}
.sider_list li{ list-style: none; padding: 3px 0; color: #999; padding-left: 10px;background: url(../images/index_002.gif) no-repeat -216px -318px;line-height: 22px; }
.sider_list ul a{ font-size: 12px; margin-right: 5px;}
.address_wrap{padding:8px; font-size: 11px;}
.address_wrap span{ font-weight: bold;}
.address_wrap p{ margin-top: 0; margin-bottom: 12px;}

.content_wrap{ width: 727px;  float: right; display: inline; overflow: hidden;}


.footer_wrap{border-top:#dcdcdc solid 1px; height: 60px; margin-top: 10px; overflow: hidden; background: #fff;}
.footer_line{ width: 100%; height: 50px; margin-top: 20px; text-align: center;}
.footer_text{ font-size: 12px; height: 16px; line-height: 16px; margin-top: 10px; text-align: center;}
.footer_text a{ font-size: 11px; padding: 0px 25px; color: #666; border-right: #d1d1d1 solid 1px;}

.footer_cy{ width: 100%; color: #666; font-size: 10px; line-height: 30px; text-align: center;}
.iphone_wrap{ padding-left: 38px; height: 22px; line-height: 22px; background: url(../images/index_002.gif) no-repeat 0 -199px;}

.btn1{ width: 126px; height: 28px; background: url(../images/index_002.gif) no-repeat 0 0 ; border: 0; cursor: pointer}

.l_msy{ width: 210px; height: 87px; padding: 0; margin: 0; }
.l_msy dt{ font-size: 11px;  padding: 10px 0 0 10px;background: url(../images/index_002.gif) no-repeat -205px -315px; height: 26px;margin: 0;}
.l_msy dt span{ display: block; padding-left: 10px; color: #000;}
.l_msy dd{ width: 100%;padding: 0; margin: 0;}
.one,.two,.three,.four,.five{height: 42px; width:28px;margin-right:8px;float: left; display:inline; background:url(../images/bg_not.gif) no-repeat;}
.one{margin-left:24px;background-position:-3px -73px;}
.two{background-position:-48px -72px;}
.three{background-position:-88px -72px;}
.four{background-position:-128px -70px;}
.five{background-position:-166px -70px;}
.one a,.two a,.three a,.four a,.five a{width:28px;height:28px;display:block;background:url(../images/bg_not.gif) no-repeat;}
.one a{background-position:-3px -29px;}
.two a{background-position:-48px -29px;}
.three a{background-position:-88px -29px;}
.four a{background-position:-128px -29px;}
.five a{background-position:-166px -29px;}

.public_pages {font-family: Arial; text-align:right; margin-right: 10px;font-size: 10px; overflow: hidden;}
.public_pages a{padding:1px 4px;margin-left:2px; border:#ccc solid 1px; height: 14px; line-height: 14px; text-decoration:none; background:#ffffff; color:#666; display: inline-block; }
.public_pages a.cur{ border:#AC2E01 solid 1px; background:#AC2E01; color:#ffffff; }

.raq_wrap{ font-size: 11px; font-weight: bold; width: 100%; line-height: 24px;  padding-top: 2px;}
.raq_wrap a{ color: #fff;}


.sider_box{ background: #fff;border:#dbdbdb solid 1px;}


#p_l {background:#FFF;border:1px solid #fff9a9;height:0;line-height:20px;margin:0; display: none;overflow:hidden;padding:0;position:absolute;width:0;z-index:100;}
#p_l dt {height:20px; width: 80%; text-align:left; overflow:hidden; background: url(../images/index_45.gif) no-repeat; padding-left: 25px;  font-size: 11px;}
#p_l dt.en{ background-position:4px -477px}
#p_l dt.ar{ background-position:4px -507px}
#p_l dt.fr{ background-position:4px -420px; float: none;}
#p_l dt.de{ background-position:4px -357px}
#p_l dt.it{ background-position:4px -327px}
#p_l dt.ru{background-position:4px -297px}
#p_l dt.es{background-position:4px -267px}
#p_l dt.pt{background-position:4px -237px}
#p_l dt.nl{background-position:4px -207px}
#p_l dt.el{background-position:4px -147px}
#p_l dt.ja{background-position:4px -447px}
#p_l dt.ko{background-position:4px -387px}
#p_l dt.cn{background-position:4px -177px}
#p_l dt.hi{ background-position:4px -537px}
#p_l dt.tu{ background-position:4px -567px}
#p_l dt.in{ background-position:4px -597px}

.footer_wrap{font: 12px/1.6 verdana; color:#999; line-height:19px; font-size:12px; height:auto}
.footer_text a,.footer_cy a{ text-decoration:none;}
.footer_text a.last{ border:none}
.footer_text a:hover,.footer_cy a:hover{ text-decoration:underline;}
.footer_text,.footer_cy{ line-height:19px; font-size:12px;}
.footer_text{ font-size:12px; color:#999; height:auto}
.footer_text a{ padding:0 5px; color:#666; font-size:12px;}
.footer_cy a{ color:#999; font-size:12px;}
.footer_cy{ color:#999; padding-bottom:20px;}
.footer_cy .company-name{ color:#666;}

