body{ font-family: verdana,Arial; font-size:12px;color:#333;background:#fff url(../images/menu_02.gif) repeat-x 0 0; margin: 0; padding: 0;}
img{ border:none;}
a{color:#0065DD;text-decoration:none;}
a:hover{color:#0065DD;text-decoration:underline;}

h2{font-weight:normal;font-size:12px; padding: 0; margin: 0;}

.sider_list li strong{font-weight:normal;font-size:12px;}

.hl_f{color:#555}
.hl_f a:link{ color:#555; text-decoration: none}
.hl_f a:visited{ color:#555;  text-decoration: none}
.hl_f a:hover{ color:#28732e; text-decoration: underline}

.hl_0{color:#555}
.hl_0 a:link{ color:#555; text-decoration: none}
.hl_0 a:visited{ color:#555;  text-decoration: none}
.hl_0 a:hover{ color:#28732e; text-decoration: underline}


.fl{float:left; display: inline;}
.fr{float:right;}
.cl,.cb{clear: both; width: 100%; height: 0; overflow: hidden;}
.cb_10{clear: both; width: 100%; height: 10px; overflow: hidden;}
.mt_15{ margin-top: 15px;}
.mt_5{ margin-top: 5px;}

.f_5{ color: #555; font-size: 11px;}
.f_3{ color: #555; font-size: 11px;}


.header,.main_wrap,.footer_wrap{ width: 950px; margin: 0 auto; overflow: hidden;}
.head{ height: 90px; width: 100%; }
.head table{ width: 940px; margin: 0 auto; }
.guide_wrap{line-height: 18px; padding: 4px 0;  font-size: 11px;background: url(../images/index_004.gif) no-repeat 3px 7px;}
.guide_wrap a{ padding-right:15px; display: inline; margin-right: 5px;background: url(../images/index_002.gif) 100% -239px }
.guide_wrap h1{ font-weight: normal; margin: 0; padding:0;  display: inline; font-size:11px;}
.guide_wrap .h{ margin-left: 22px;}

.banner_bg{ width: 950px; height: 170px; overflow: hidden; margin-top: 1px;}

.lan_wrap{ width: 190px; height: 85px; overflow: hidden;}
.lan_wrap .f{ font-size: 11px; width: 100%; text-align: right;}
.head_title{ line-height: 24px; font-size: 20px; padding: 0 10px; }
.head_title strong{ font-weight: normal;}

.bg_box{ width: 970px; background: #fff; margin: 0 auto;}
.main_right_wrap_box{ width: 737px;float: right; display: inline; }
.main_right_wrap{ width: 737px; overflow: hidden; }
.main_right_box{border:#e7e7e7 solid 1px;  width: 735px;  }

.menu_wrap{ width: 100%; overflow: hidden;  }
.menu_wrap ul{  padding: 0; margin: 0;}
.menu_wrap li{height: 35px; font-weight: bold;  line-height: 35px;  margin-top: 7px;font-size: 12px;display: inline-block;}
.menu_wrap li span{ padding: 0 30px;background: url(../images/menu_01.gif) no-repeat 100% 5px;  color: #fff; display: block; }
.menu_wrap li span a{ color:#fff}
.menu_wrap li.cur span{ background: url(../images/nav.gif) no-repeat 0 -80px; padding-right: 0; }
.menu_wrap li.cur span a{ color: #267CC8; background: url(../images/nav.gif) no-repeat 100% -80px; display: block;padding-right: 30px; }


.title_wrap{ color: #333; font-size: 11px; font-weight: bold;}
.sider_wrap .title_wrap{ width: 714px; padding: 5px 0; line-height: 20px; margin: 0 auto; margin-top: 8px; border-top:#e3e3e3 dotted 1px;}

.sider_list,.sider_con_wrap{ width:203px; }
.sider_list ul{ width: 203px;margin: 0; padding:5px 0; font-size: 11px;}
.sider_list li{ list-style: none; width: 180px; padding: 1px 0 2px 0; color: #999; padding-left: 10px;background: url(../images/index_004.gif) no-repeat 0 -151px; ; margin: 0 auto; line-height: 22px; }
.sider_list li.cur{background: url(../images/index_004.gif) no-repeat 0 -82px; ; }
.sider_list ul a{ font-size: 12px; margin-right: 5px;}
.sider_wrap{ width:203px; float: left; display: inline; overflow: hidden; }
.sider_con_wrap p{ margin:10px; font-size: 11px; color: #555;}
.sider_con_wrap span{ display: block; font-size: 10px; font-weight: bold;}
.btn1{ margin-left: 8px; width: 126px; height: 28px; background: url(../images/index_002.gif) no-repeat 0 0 ; border: 0; cursor: pointer}
.cer_warp{ width: 90%; margin: 0 auto;}
.cer_warp td{ padding: 10px 0;}

.public_pages {font-family: Arial; text-align:center; margin: 0 auto; width: 700px; font-size: 10px; padding-top: 10px; border-top:1px dotted #DCDCDC;overflow: hidden;}
.public_pages a{padding:1px 4px;margin-left:2px; border:#ccc solid 1px; height: 14px; line-height: 14px; text-decoration:none; background:#ffffff; color:#666; display: inline-block; }
.public_pages a.cur{ border:#AC2E01 solid 1px; background:#AC2E01; color:#ffffff; }

.footer_wrap{border-top:#dcdcdc solid 1px;}
.footer_line{ width: 100%; height: 50px; margin-top: 20px; text-align: center;}
.footer_text{ font-size: 12px; height: 16px; line-height: 16px; text-align: center; background-color:#212025; padding-top:31px;}
.footer_text a{ font-size: 11px; padding: 0px 25px; color: #666; border-right: #434249 solid 1px;}

.footer_cy{ width: 100%; color: #666; font-size: 10px; line-height: 30px; text-align: center; background-color:#212025; padding:20px 0 0 0;}
.iphone_wrap{ padding-left: 38px; height: 22px; line-height: 22px; background: url(../images/index_002.gif) no-repeat 0 -199px;}


.sel{ float: right; display: inline; height: 16px; width: 150px; margin-top: 5px;line-height: 15px; border: #dcdcdc solid 1px; padding-top: 1px; padding-left: 5px; font-size: 11px; font-weight: bold; background: #fff; overflow: hidden;  }
.sel a{ float:right; width:16px; height:17px; margin-left: 10px; display: inline;}
.sel a.col{background: url(../images/index_002.gif) 100% -157px; }
.sel a.ope{background: url(../images/index_002.gif) 100% -279px; }

.search_wrap{ background: #E8E8E8; width: 100%; height: 28px;}
.search_wrap div{ float: left; display: inline; background: #fff; border:#A2A6AB solid 1px; height: 22px; width: 197px; margin-left: 2px; margin-top: 2px;}

.se_text,.btn2{ float: left; display: inline;}
.se_text{ width: 172px; font-size: 12px; border:0; padding: 0 2px; margin-top: 1px; line-height: 20px; height: 20px;}
.btn2{ width:18px; height: 20px; border:0; background: url(../images/index_002.gif) 0 -130px;}
.box_border{border:#E8E8E8 solid 1px;}
.box_border .tit{ background: #eeeeee; color: #444; font-weight: bold; font-size: 11px; text-indent: 10px; height: 27px; line-height: 27px;}


#p_l {background:#FFF;border:1px solid #73767f;height:0;line-height:20px;margin:0; display: none;overflow:hidden;padding:0;position:absolute;width:0;z-index:100;}
#p_l dt {height:20px; width: 80%; text-align:left; overflow:hidden; background: url(../images/index_45.gif) no-repeat; padding-left: 25px;  font-size: 11px;}
#p_l dt.en{ background-position:4px -477px}
#p_l dt.ar{ background-position:4px -507px}
#p_l dt.fr{ background-position:4px -420px; float: none;}
#p_l dt.de{ background-position:4px -357px}
#p_l dt.it{ background-position:4px -327px}
#p_l dt.ru{background-position:4px -297px}
#p_l dt.es{background-position:4px -267px}
#p_l dt.pt{background-position:4px -237px}
#p_l dt.nl{background-position:4px -207px}
#p_l dt.el{background-position:4px -147px}
#p_l dt.ja{background-position:4px -447px}
#p_l dt.ko{background-position:4px -387px}
#p_l dt.cn{background-position:4px -177px}
#p_l dt.hi{ background-position:4px -537px}
#p_l dt.tu{ background-position:4px -567px}
#p_l dt.in{ background-position:4px -597px}


.pro_pic{ overflow: hidden;}
.pro_tit{word-break:break-all;word-wrap:break-word;}

.l_msy{ width: 201px;border:#e7e7e7 solid 1px; height: 107px; padding: 0; margin: 0; }
.l_msy dt{ font-size: 11px;  padding: 10px 0 0 0px;width: 100%;background: url(../images/index_002.gif) no-repeat -205px -315px; height: 26px;margin: 0;}
.l_msy dt span{ display: block; padding-left: 10px; color: #000;}
.l_msy dd{ width: 100%;padding: 0; margin: 0;}
.one,.two,.three,.four,.five{height: 42px; width:28px;margin-right:8px;float: left; display:inline; background:url(../images/bg_not.gif) no-repeat;}
.one{margin-left:14px;background-position:-3px -73px;}
.two{background-position:-48px -72px;}
.three{background-position:-88px -72px;}
.four{background-position:-128px -70px;}
.five{background-position:-166px -70px;}
.one a,.two a,.three a,.four a,.five a{width:28px;height:28px;display:block;background:url(../images/bg_not.gif) no-repeat;}
.one a{background-position:-3px -29px;}
.two a{background-position:-48px -29px;}
.three a{background-position:-88px -29px;}
.four a{background-position:-128px -29px;}
.five a{background-position:-166px -29px;}


.footer_wrap{font: 12px/1.6 verdana; color:#999; line-height:19px; font-size:12px; height:auto}
.footer_text a,.footer_cy a{ text-decoration:none;}
.footer_text a.last{ border:none}
.footer_text a:hover,.footer_cy a:hover{ text-decoration:underline;}
.footer_text,.footer_cy{ line-height:19px; font-size:12px;}
.footer_text{ font-size:12px; color:#999; height:auto}
.footer_text a{ padding:0 5px; color:#666; font-size:12px;}
.footer_cy a{ color:#999; font-size:12px;}
.footer_cy{ color:#999; padding-bottom:20px;}
.footer_cy .company-name{ color:#666;}
/*	分组说明	*/
.product-all .product-intro{ height:160px; border-bottom:solid 1px #ddd; padding:24px;}
.product-all .product-intro:hover{ background:#f9f9f9;}
.product-all .product-intro:last-child{ border-bottom:none;}
.product-all .product-intro .left-img{ float:left; position:relative; width:160px; height:160px; }
.product-all .product-intro .left-img img{ width:160px; height:160px;border-radius:3px;}
.product-all .product-intro .left-img a.add-basket{ width:25px; height:25px; display:block; background-position:0 -71px; position:absolute; bottom:0; right:0; border-radius:3px 0 0 0; border:none;}
.product-all .product-intro .left-img a.current{ background-position:-33px -37px;}
.product-all .product-intro .left-img a.add-success{ background-position:-103px -37px;}
.product-all .product-intro .left-img a.delete{ background-position:-70px -37px;}
.product-all .product-intro .msg-detail{ float:left; margin-left:14px; position:relative; height:160px; width:525px;}
.product-all .product-intro .msg-detail span a{ font-size:18px; color:#333; line-height:24px;}
.product-all .product-intro .msg-detail span a:hover{ text-decoration:underline;}
.product-all .product-intro .msg-detail ul{ margin-top:5px; padding:0;}
.product-all .product-intro .msg-detail table{margin-top:5px;}
.product-all .product-intro .msg-detail ul li{ line-height:24px; font-size:12px; color:#333; width:auto; float:none; margin:0;}
.product-all .product-intro .msg-detail ul.list2 li{ width:240px; line-height:24px; font-size:12px; color:#333; float:left; margin:3px 20px 3px 0; }
.product-all .product-intro .msg-detail ul li label{ color:#999; margin-right:12px;}
.product-all .product-intro .msg-detail ul.list2 li label{ display:block; float:left; line-height:18px;vertical-align:top;}
.product-all .product-intro .msg-detail ul.list2 li i{ display:block; float:left; font-style:normal; width:170px;line-height:18px;}
.product-all .product-intro .msg-detail table td{ width:240px; line-height:24px; font-size:12px; color:#333; float:left; margin:3px 20px 3px 0; }
.product-all .product-intro .msg-detail table td label{ color:#999; margin-right:12px;}
.product-all .product-intro .msg-detail table td label{ display:block; float:left; line-height:18px;vertical-align:top;}
.product-all .product-intro .msg-detail table td i{ /*display:block; float:left; */font-style:normal; width:164px;line-height:18px;}
.product-all .product-intro .msg-detail .contact-btn{ position:absolute; bottom:4px;}
.product-all .product-intro .msg-detail .contact-btn a{ width:140px; height:32px; text-align:center; line-height:32px; background:#6c7c93; display:block; border-radius:3px; color:#fff; font-size:14px;}
.product-all .product-intro .msg-detail .contact-btn a:hover{ background:#617084;}
/*	分组说明结束 */
