
.flash_wrap{ width: 714px; height: 194px; line-height: 22px; margin: 0 auto; margin-top: 7px; table-layout: fixed;  overflow: hidden; }
.flash_text{ height: 194px; overflow: hidden;}
.flash_wrap td{ margin: 0; padding: 0;}
.flash_pic{ height: 190px; width: 300px; overflow: hidden;}

.list_ul_li{ width: 714px; margin: 0 auto;}
.list_ul_li td{padding:5px 10px;}
.list_ul_li td a{ padding-left: 10px; background: url(../images/index_006.gif) no-repeat 0 5px;}

.main_right_box .title_wrap{ width: 714px; padding: 5px 0; line-height: 20px; margin: 0 auto; margin-top: 8px; border-top:#ccc dotted 1px;}
.main_right_wrap{ margin-top: 10px;}
.sider_wrap{ margin-top: 10px;}
.index_ad{ height: 170px; margin: 0 auto; margin-top: 10px;}


.pro_wrap .pro_tit{ width: 100%; clear: both; font-size: 11px; text-align: center; line-height: 18px;}
.pro_wrap{ width: 155px; margin-left: 15px; margin-top: 6px; float: left; display: inline;}
.pro_wrap table{width: 100px; height: 100px;table-layout: fixed;}
.pro_wrap table td{ line-height:normal;}
.pro_wrap .pro_pic{ width: 100px; height: 100px;  border: #EEEEEE solid 1px; float: left; display: inline; margin-left: 28px; overflow: hidden;}

