.main_right_box .title_wrap{ display: inline-block; font-size: 11px;height: 18px;  padding: 10px 10px 10px 13px;  }
.main_right_box .title_wrap span{ font-size: 14px; color: #FF6000}



.main_right_box{ padding-bottom: 10px;}

.pro_wrap .pro_tit{ width: 100%; clear: both; font-size: 11px; text-align: center; line-height: 18px;}
.pro_wrap{ width: 155px; margin-left: 15px; margin-top: 6px; float: left; display: inline;}
.pro_wrap table{width: 100px; height: 100px;table-layout: fixed;}
.pro_wrap table td{ line-height:normal;}
.pro_wrap .pro_pic{ width: 100px; height: 100px;  border: #d2d2d2 solid 1px; float: left; display: inline; margin-left: 28px; overflow: hidden;}

.prolist_wrap{ width: 700px; margin: 0 auto; padding-top: 10px; padding-bottom: 5px; border-top: #dcdcdc dotted 1px; }
.prolist_wrap p{ margin: 0; padding: 0;}
.prolist_wrap .pro_tit{ padding:0px 0px 5px 0; }
.prolist_wrap .pro_pic{ width: 100px; height: 100px; border: #d2d2d2 solid 1px; float: left; display: inline;  overflow: hidden;}
.prolist_wrap .pro_pic  table{width: 100px; height: 100px;table-layout: fixed;}
.prolist_wrap .pro_con{ width: 445px; height:100px; overflow: hidden; position: relative; padding-left: 5px; text-align: left;}
.prolist_wrap .pro_con p{ color: #666; font-size: 11px; line-height: 20px;}
.prolist_wrap .pro_con p.time{  position: absolute; left: 5px; bottom: 0;}


.hot_key_word{ padding:0 15px 10px 15px; font-size: 10px; color: #555;}



.message_warp{ width: 735px; margin: 0 auto; background: #fcf4cd; border:#f1d38b solid 1px;}
.message_warp .title{ font-size: 11px; font-weight: bold;  line-height: 25px; height: 25px; text-indent: 10px;}
.message_warp .mess_con_wrap{ width: 725px; background: #fff; margin: 5px; margin-top: 0;overflow: hidden;}

.message_warp .mess_contact{ float: left; display: inline; width: 220px; margin-left: 10px; margin-top: 10px;}
.mess_icon ul{ margin: 0; padding: 0; padding:0; }
.mess_icon li{ padding-bottom: 12px;list-style: none; color: #000; }
.mess_icon .i_1{  padding-bottom: 9px;}
.mess_icon .i_3{   }

.inquiry_wrap{width: 470px; font-size: 11px;overflow: hidden; background: #f7f7f7; float: right; display: inline; margin: 10px; margin-left: 0;}
.lH85{ font-size: 11px; line-height: 32px; height: 32px; font-weight: bold; }
.RM83{ margin-top: 5px; }
.RM83 td{padding: 4px 3px 4px 0; vertical-align: top;}
.RM83 th{ padding-left: 12px; vertical-align: top; padding-right: 5px;}
.J789{ font-size: 12px; font-family:Arial; float: left; display: inline;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;height: 22px;line-height: 22px;padding: 0 5px;}
.kG8b{ text-align: right; line-height: 16px; height: 16px; font-size: 10px; color: #666;}
.kG8b font{ color: #C10404; font-size: 10px; font-weight: bold;}
.RM83 .xH8f{ float: left; display: inline; margin-top: 7px; margin-left: 5px; font-size: 10px;}
.RM83 .uf91{ font-weight: bold; line-height: 22px; font-size: 11px;}
.wi97{ margin-left: 9px; padding: 5px; overflow: hidden; width: 435px; height: 150px; font-size: 12px; font-family: Arial;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;}
.send_title{ font-weight: bold; padding-left: 9px; line-height: 24px; height: 24px;}
.red{ color:red;}