.main_right_wrap .title_wrap{ display: block; font-weight: bold;margin:0 0 0 15px; font-size: 11px;height: 18px; padding: 10px 10px 10px 8px; background: url(../images/index_004.gif) no-repeat 0 -22px; }
.main_right_wrap .title_wrap span{ color: #999;font-weight: normal;}
.main_right_wrap .title_wrap a{ padding-right: 5px}
.content_box{width: 700px; margin: 0 auto; overflow: hidden;}
.list_ul_li{ width: 690px; margin: 0 auto;}

.photo_box{ width: 326px; margin-top: 5px; float: left; display: inline;}
.big_box{ width: 300px; padding: 10px; background: #f1f1f1; border:#e6e6e6 solid 1px;}
.small_box{ width: 323px; margin-top: 5px; height: 57px; overflow: hidden;}

.small_pic{width: 300px; margin: 0; padding: 0; height: 57px;  float: left; display: inline; overflow: hidden;}
.small_box ul{ width: 9999px; margin: 0; padding: 0;}
.small_box li{ background: #fff; border: #e8e8e8 solid 1px; margin-left: 3px; width: 55px; height: 55px; float: left; display: inline; list-style: none;}
.small_box li a{ display:table-cell;vertical-align:middle;text-align:center; width: 55px; height: 55px; overflow: hidden; *display: block; *font-size:45px;}
.small_box li a img{ vertical-align:middle}

.small_box .l_b{ background: url(../images/l_b.gif) no-repeat 0 0 ; width: 10px;height: 45px; margin-top: 5px; float: left; display: inline;}
.small_box .r_b{ background: url(../images/r_b.gif) no-repeat 0 0 ; width: 10px;height: 45px; margin-top: 5px; float: right; display: inline;}
.photo_text{ padding-left: 19px; margin-top: 10px; background: url(../images/index_002.gif) no-repeat -205px -452px;}
.fram_box{ width: 360px;line-height: 16px; margin-top: 5px; float: right; display: inline;}
.fram_box table{ width: 320px; table-layout: fixed; float: left; display: inline; margin-left: 10px;}
.fram_box th,.fram_box td{color: #444; font-size: 11px; text-align: left; padding: 5px 0; border-bottom:  #dcdcdc dotted 1px;}
.fram_box td{color: #000; width: 210px;}
.fram_box th{ font-weight: normal; width: 110px;}
.fram_tit,.pro_detail .title{ background: #f1f1f1; font-size: 10px; font-weight: bold; line-height: 20px; padding-left: 10px;}

.pro_detail{ width: 700px; margin: 0 auto; margin-top: 10px; overflow: hidden;}
.con_wrap{  padding: 10px; line-height: 20px; font-size: 11px;}

.list_ul_li td{padding:4px 5px;}
.list_ul_li td a{ padding-left: 10px; background: url(../images/index_006.gif) no-repeat 0 7px;}

.message_warp{ width: 735px; margin: 0 auto; background: #fcf4cd; border:#f1d38b solid 1px;}
.message_warp .title{ font-size: 11px; font-weight: bold;  line-height: 25px; height: 25px; text-indent: 10px;}
.message_warp .mess_con_wrap{ width: 725px; background: #fff; margin: 5px; margin-top: 0;overflow: hidden;}

.message_warp .mess_contact{ float: left; display: inline; width: 220px; margin-left: 10px; margin-top: 10px;}
.mess_icon ul{ margin: 0; padding: 0; padding:0; }
.mess_icon li{ padding-bottom: 12px;list-style: none; color: #000; }
.mess_icon .i_1{  padding-bottom: 9px;}
.mess_icon .i_3{   }

.inquiry_wrap{width: 470px; font-size: 11px;overflow: hidden; background: #f7f7f7; float: right; display: inline; margin: 10px; margin-left: 0;}
.lH85{ font-size: 11px; line-height: 32px; height: 32px; font-weight: bold; }
.RM83{ margin-top: 5px; }
.RM83 td{padding: 4px 3px 4px 0; vertical-align: top;}
.RM83 th{ padding-left: 12px; vertical-align: top; padding-right: 5px;}
.J789{ font-size: 12px; font-family:Arial; float: left; display: inline;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;height: 22px;line-height: 22px;padding: 0 5px;}
.kG8b{ text-align: right; line-height: 16px; height: 16px; font-size: 10px; color: #666;}
.kG8b font{ color: #C10404; font-size: 10px; font-weight: bold;}
.RM83 .xH8f{ float: left; display: inline; margin-top: 7px; margin-left: 5px; font-size: 10px;}
.RM83 .uf91{ font-weight: bold; line-height: 22px; font-size: 11px;}
.wi97{ margin-left: 9px; padding: 5px; overflow: hidden; width: 435px; height: 150px; font-size: 12px; font-family: Arial;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;}
.send_title{ font-weight: bold; padding-left: 9px; line-height: 24px; height: 24px;}
.red{ color:red;}

.tag_wrap{ table-layout: fixed;width: 700px; margin: 0 auto;}
.tag_wrap a{ margin-left: 10px; margin-right: 5px; line-height: 20px; display: inline-block}
