<div class="top">
    <div class="top_left"><a href="{:url('index/admin/home')}">后台 </a></div>
    <div class="top_right">
        <ul>
            <li><a href="{:url('index/admin/exit')}">安全退出</a></li>
            <li>管理员:{$Think.session.name}</li>
        </ul>
    </div>
</div>
<div class="left">
    <ul>
        <li><a href="{:url('index/admin/request')}">未审核审核</a></li>
        <li><a href="{:url('index/admin/checked')}">已审核审核</a></li>
        <li><a href="{:url('index/admin/grouping')}">分组管理</a></li>
        <li><a href="{:url('index/admin/waste')}">垃圾箱</a></li>
        <li><a href="{:url('index/admin/disk')}">磁盘大小</a></li>
    </ul>
</div>
