.right-content{ width:1000px; float: left; margin-left: -20px;}
.daily-update li{ width: 230px; height: 100px; float: left; margin-left:20px; background: #fff; box-shadow:0 0 10px rgba(0,0,0,0.2); }
.daily-update li span{display: block; float: left;}
.daily-update li span.icon1{ width:60px; height: 60px; margin:20px 23px 0 30px; background: url(./images/update-icon1.png) left top no-repeat; }
.daily-update li span.icon2{ width:60px; height: 49px; margin:27px 36px 0 29px; background: url(./images/update-icon2.png) left top no-repeat; }
.daily-update li span.icon3{ width:51px; height: 51px; margin:28px 36px 0 37px; background: url(./images/update-icon3.png) left top no-repeat; }
.daily-update li span.icon4{ width:50px; height: 50px; margin:28px 38px 0 37px; background: url(./images/update-icon4.png) left top no-repeat; }

.daily-update li dl{ float: left; margin-top: 25px;}
.daily-update li dl dt{ font-size: 30px; color: #303033; margin-bottom: 8px;}
.daily-update li dl dd{ font-size: 14px; color: #909099;}

.home-chart{ width: 980px; margin:20px 0 0 20px; padding:10px 0 20px 0; background: #fff;}
.home-chart .tab-title{ margin:0 auto; width: 920px;}
.home-chart .tab-title li{ font-size: 16px; color: #909099; height: 33px; line-height: 33px; float: left; cursor: pointer;}
.home-chart .tab-title li i{ width: 1px; display: inline-block; margin:0 23px;}
.home-chart .tab-title li.cur{ color: #303033;}
.home-chart .tab-title li.cur i{ color: #909099;}

.tab-content{ width: 920px; margin:0 auto;}
.tab-content .tab-detail{ display: none;}

.msg-collect{ width:980px; margin:20px 0 0 20px; padding-bottom: 31px; background: #fff; }
.msg-collect .title{ font-size: 16px; color: #303033; height: 54px; line-height: 54px; width: 920px; margin: 0 auto;}
.msg-collect .msg-classify{ margin: 6px 0 0 30px;}
.msg-classify .msg-box{ width: 286px; height: 236px; position: relative; background: #f7fafc; margin-right: 30px; float: left;}
.msg-classify .msg-box dl{ width: 227px; margin:0 auto;}
.msg-classify .msg-box dl dt{ margin: 15px 0 33px 0;font-size: 16px; color: #303033;}
.msg-classify .msg-box dl dd{ font-size: 14px; color: #909099; float: left; }
.msg-classify .msg-box dl dd:last-child{ float: right; text-align: right;}
.msg-classify .msg-box dl dd:last-child span{ color: #ff9a41;}
.msg-classify .msg-box dl dd.center{ float: none; margin: 0 auto; width: 70px; text-align: center;}
.msg-classify .msg-box dl dd.green span{ color: #2ccd71;}
.msg-classify .msg-box dl dd.center span{ color: #227aff;}
.msg-classify .msg-box dl dd span{ font-size: 40px; color: #227aff; display: block; margin-bottom: 10px; }
.msg-classify .msg-box a{ width: 224px; height: 40px; display: block; position: absolute; left: 30px; bottom: 30px; text-align: center;line-height: 42px; color: #227aff; font-size: 16px; border:solid 1px #227aff; border-radius:20px;}
.msg-classify .msg-box a:hover{ background: #227aff; border: solid 1px #227aff; color: #fff;}

.new-inquiry{ width: 980px; margin: 20px 0 0 20px; background: #fff; padding-bottom: 16px;}
.new-inquiry .title{ height: 54px; line-height: 54px; color: #303033; font-size: 16px; padding-left: 30px;}
.new-inquiry table{ width: 980px; text-align: center;}
.new-inquiry table tr th,.new-inquiry table tr td{ height: 40px; color: #909099;}
.new-inquiry table tr th{ color: #606066; font-weight: normal; background: #fafafa;}
.new-inquiry table tr:nth-child(even) td{ background: #fafafa;}
.new-inquiry table tr td a.see {width:88px; height: 24px; text-align: center; line-height: 24px; display: block; font-size: 12px; color: #787880; border: solid 1px #c0c0cc; border-radius:20px; margin: 0 auto; }
.new-inquiry table tr td a.see:hover{ background: #227aff; border: solid 1px #227aff; color: #fff;}

.footer{ width: 100%; height: 50px; line-height: 50px; background: #ddd; margin-top: 30px;}
.footer .foot-inner{ width: 1200px; margin: 0 auto;}
.footer .foot-inner li{ float: left; color: #aaa; font-size: 14px;}
.footer .foot-inner li:last-child{ float: right;}

/* 客户赠言 */
.client-msg{ margin: 20px 0 30px 30px; min-height: 905px;}
.client-msg .form-group{ margin-bottom: 20px;}
.client-msg span.client-img{width: 144px; height: 144px; display: block; float: left; margin-right: 20px;}
.client-msg span.client-img img{ width: 140px; height: 140px; padding:1px; border: solid 1px #ddd;}
.input-group{ position: relative;}
.input-group .txt{ width: 680px; height: 36px; border: solid 1px #ddd; padding-left: 74px; margin-bottom: 20px;}
.input-group .area1{ width: 670px; height: 64px; padding: 10px 10px 10px 74px; border: solid 1px #ddd;}
.input-group em{ position: absolute; left: 174px; top: 13px; font-size: 14px; color: #ccc; font-style: normal;}
/* 关键词 */
.key-words .form-group{ margin-bottom: 0;}
.key-words .input-group .txt{ width: 858px; padding-left: 60px;}
.key-words .input-group .txt2{ padding-left: 36px; width: 882px;}
.key-words .input-group em,.tdk-words .input-group em{left: 10px;}
/* tdk */
.tdk-words .input-group .txt{ width: 868px; padding-left: 50px;}
.tdk-words .input-group .txt3{ width:190px; padding-left: 10px; margin-right: 20px;}
.tdk-words .input-group .txt3:nth-child(4){ margin-right: 80px;}
.tdk-words .input-group .area1{ width: 823px; height: 115px; padding: 10px 10px 10px 95px;}
.tdk-words .input-group span,.admin-assist .input-group span{ color:#606066; display: block; margin-bottom: 8px; }
.recover{ font-size: 14px; color: #606066; cursor: pointer;}
/* 站长辅助工具 */
.admin-assist .input-group .area1{ width: 898px; height: 115px; padding: 10px; margin-bottom: 20px;}
.admin-assist .upload{ position: relative; height: 36px;}
.admin-assist .upload input{ opacity: 0; width: 136px; height: 36px; position: absolute; left: 0; top: 0; z-index: 9;}
.admin-assist .upload span{ width:134px; height: 34px; position: absolute; left: 0; top: 0; background: #f5f5f5; border: solid 1px #ddd; text-align: center; line-height: 34px; color: #606066; font-size: 14px; z-index: 1; }
.admin-assist .input-group .uploadname{ color:#606066; font-size: 14px; margin: 15px 0 20px 0; display: none;}
.admin-assist .input-group .uploadname span{ display: inline;}
.tip-box{ width: 878px; padding: 13px 20px; background:#ecf4ff; border: solid 1px #d4e6ff; }
.tip-box dl dt{ font-size: 14px; font-weight: bold; color: #606066; margin-bottom: 6px;}
.tip-box dl dd{ line-height: 22px; font-size: 12px; color: #606066;}