.menu_wrap {
	overflow: hidden;
}

#p_l dt {
	padding-left: 1px;
}

.pro_pic img {
	width: 100px;
	height: 100px;
}

.pic_big img {
	width: 250px;
	height: 175px;
}

.pro_con p {
	word-break: break-all;
}

.new_pro strong,.pro_tit strong {
	font-weight: normal;
}

.sitemap_box {
	width: 700px !important;
}

.head_title p {
	line-height: 18px;
	height: 36px;
	display: block;
	word-wrap: break-word;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.new_pro li a,.pro_tit a,.sitemap_box a,.list_ul_li h2 a,.sider_list ul a {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.list_ul_li h2 a {
	width: 340px;
}

.fa h1,.flash_text h1 {
	display: block;
	padding-bottom: 4px;
	line-height: 18px;
	font-size: 11px;
}

.title h2,.fram_tit h2,.pro_tit h2,.tit h2,.box_title h2,.box_title h1, .box_content h1 {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.news_title h1 {
	font-size: 16px;
	font-weight: normal;
}

.news_li li a {
	display: block;
	height: 22px;
	float: left;
	max-width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sitemap_box ul a {
	font-weight: normal;
}

.news_li li span {
	float: left;
}

.con {
	height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.produce-show .img-show .small-img .prev-next a,.simple-intro ul li span i,.nav li a i,.product-img .back-page a i,.home-show .img-show .small-img .prev-next a {
	background: url('/media/sets/june/shop-icon.png') 0 0 no-repeat;
}

.produce-show .img-show {
	float: left;
}

.produce-show .img-show .big-img {
	width: 326px;
	height: 326px;
	overflow: hidden;
}

.produce-show .img-show .big-img li img {
	width: 326px;
	height: 326px;
	border-radius: 3px;
}

.produce-show .img-show .small-img {
	margin-top: 15px;
	height: 64px;
	position: relative;
}

.produce-show .img-show .small-img .scroll {
	position: relative;
	width: 230px;
	height: 64px;
	padding-top: 5px;
	left: 60px;
	overflow: hidden;
}

.produce-show .img-show .small-img ul {
}

.produce-show .img-show .small-img ul li {
	float: left;
	margin-right: 15px;
	position: relative;
}

.produce-show .img-show .small-img ul li img {
	width: 60px;
	height: 60px;
	border: solid 1px #ddd;
	border-radius: 3px;
	cursor: pointer;
}

.produce-show .img-show .small-img ul li.current img {
	border: solid 1px #999;
}

.produce-show .img-show .small-img ul li.current:after {
	position: absolute;
	top: -10px;
	left: 46%;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #999;
}

.produce-show .img-show .small-img .prev-next a {
	position: absolute;
	width: 12px;
	height: 22px;
	left: 30px;
	top: 31px;
	background-position: -38px -78px;
}

.produce-show .img-show .small-img .prev-next a.default {
	cursor: default;
	background-position: 0 0;
}

.produce-show .img-show .small-img .prev-next a.next {
	background-position: -52px -78px;
	left: 300px;
	top: 31px;
}

.produce-show .img-show .small-img .prev-next a.next.default {
	background-position: -14px 0;
}

.img-show ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.guide_wrap {
	height: 16px;
	overflow: hidden;
}

.floating_box .title_t {
	background: #36963e !important;
}

.floating_box .title_t .title_pa {
	border-top: 1px solid #a6cea9 !important;
}

.floating_box .title_t span {
	border: 6px solid #36963e !important;
}