.menu_wrap {overflow: hidden;}
#p_l dt { padding-left: 1px; }
.pro_pic img {width: 100px;height: 100px;}
.pic_big img {width: 250px;height: 175px;}
.pro_con p {word-break: break-all;}
.sitemap_box {width: 700px !important;}