@charset "utf-8";
/*xunpan*/
.opacity-layer{ width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.5); z-index:99; display:none;}
.float-layer{ width:740px; height:430px; background:#fff; border-radius:3px;box-shadow: 5px 0 12px #777, -5px 0 12px #777, 0 5px 12px #777, 0 -5px 12px #777; position:fixed; left:30%; top:260px; z-index:999; display:none;}
.float-layer .title{ height:62px; line-height:62px;}
.float-layer .title span{ float:left; padding-left:23px; font-size:20px; color:#333;}
.float-layer .title a{ float:right; width:16px; height:16px;background:url('/media/quick-inquiry/qiugou.png') -28px -17px no-repeat; display:block; margin:14px 20px 0 0;}
.float-layer .title a:hover{ background-position:-28px 0;}
.float-layer .form-main{ margin:11px 0 0 95px;}
.float-layer .form-main li{ height:30px; margin-bottom:18px; position:relative; width:540px;}
.float-layer .form-main li .erro_alert { position: absolute;right: 1px; top: 8px; z-index:1;font-size: 12px;color: #d41313;padding: 0 5px;cursor: text;background: #fff;background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 8px); background: linear-gradient(to right,rgba(255,255,255,0),#fff 8px);opacity: 0;-ms-filter: "alpha(Opacity=0)";-webkit-transform: translate(20px,0); -ms-transform: translate(20px,0); transform: translate(20px,0);-webkit-transition: .25s ease-out;transition: .25s ease-out;}
.float-layer .form-main li .erro_alert1{top: inherit; bottom:9px;}
.float-layer .form-main li .erro_alert.is-visible {opacity: 1;-ms-filter: "alpha(Opacity=100)";-webkit-transform: translate(0,0);-ms-transform: translate(0,0);transform: translate(0,0);}
.float-layer .form-main li label{ width:100px; color:#333; font-size:14px; line-height:30px; display:block; float:left;}
.float-layer .form-main li label i{ width: 12px;height: 30px;color: #d41313;display: block;float: left; line-height:30px; margin-top:3px;}
.float-layer .form-main li .txt{ width:422px; height:28px; border:solid 1px #ddd; border-radius:3px; padding-left:16px; float:left;}
.float-layer .form-main li.area_li{ height:160px;}
.float-layer .form-main li .area{ width:408px; height:144px; border:solid 1px #ddd; border-radius:3px; padding:7px 15px; float:left;}
.float-layer .btn{ margin:-3px 0 0 193px; width:438px;}
.float-layer .btn p{ line-height:20px; font-size:14px; color:#333;}
.float-layer .btn a{ width:160px; height:36px; text-align:center; line-height:36px; color:#fff; background:#d41313; font-size:16px; display:block; border-radius:3px; margin-top:15px;}
.float-layer .btn a:hover{ background:#c60000;}

.float-layer2{ display:none; width:900px; height:400px; overflow:hidden;left:26%; position:fixed; }
.left-product{ float:left; width:400px; height:400px; overflow:hidden; position:relative; }
.left-product .scroll-area{ position:absolute; left:0;}
.left-product .pro-scroll{ width:360px; height:400px; overflow:hidden; float:left; padding:0 20px; background:#f9f9f9;}
.pro-scroll .pro-title{ margin-top:25px; color:#333; font-size:18px; height:90px;}
.pro-scroll .pro-title span{ width:338px;height: 72px;display: block;overflow: hidden;line-height: 24px;word-wrap:break-word;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.pro-scroll .pro-title i{ display:block; font-size:12px; color:#666; font-style:normal;}
.product-show img{ width:160px; height:160px; display:block; margin:0 auto;}
.product-show ul{ margin-top:50px; font-size:12px;}
.product-show ul li{ float:left; width:180px; line-height:22px; color:#666;}
.product-show ul li label{ color:#999;}
.product-show ul li i{ color:#333; font-weight:bold; font-style:normal;}
.left-product a.prev{ width:12px; height:22px; display:block; background:url('/media/quick-inquiry/quick-inquiry.png') 0 0 no-repeat; position:absolute; left:20px; top:187px;}
.left-product a.prev.current{background-position:-36px 0;}
.left-product a.next{ width:12px; height:22px; display:block; background:url('/media/quick-inquiry/quick-inquiry.png') -15px 0 no-repeat; position:absolute; left:368px; top:187px;}
.left-product a.next.current{background-position:-52px 0;}

.float-layer2 .form{ width:500px; float:left; position:relative;}
.float-layer2 .form ul.form-main{ width:434px; margin:0 30px 0 27px; padding-top:50px;}
.float-layer2 .form ul li{ margin-bottom:18px; display:block; width:434px;position:relative;}
.float-layer2 .form ul li label{ width:114px; height:30px; display:block; float:left; font-size:14px; color:#333; line-height:30px;}
.float-layer2 .form ul li label i{ width:12px; height:30px; color:#d41313; display:block; float:left;}
.float-layer2 .form ul li .txt,.float-layer2 .form ul li .txt1{ width:308px; height:28px; border:solid 1px #ddd; border-radius:3px; line-height:28px; padding-left:10px;}

.float-layer2 .form ul li .select{ float:left; width:320px;}
.float-layer2 .form ul li .select li{ float:left;margin:0;}
.float-layer2 .form ul li ul{ width:320px; padding-top:0;}
.float-layer2 .form ul li .select{ position:relative;}
.float-layer2 .form .select-box{ width:308px; height:28px; display:block; background:#fff; border:solid 1px #ddd; text-align:left; line-height:28px; padding-left:10px; border-radius:3px;cursor:pointer; float:left; overflow:hidden; }
.float-layer2 .form .select-box span{ color:#333; font-size:12px; float:left;}
.float-layer2 .form .select-box i{width:30px; height:30px; background-color:#dddddd; display:block; float:left; line-height:30px; text-align:center; border-radius:0 3px 3px 0; margin-left:-1px;  position:absolute; left:290px; top:0;}
.float-layer2 .form .select-box i em{position: absolute;top: 14px;left: 30%;content: '';width: 0;height: 0;border-top: 6px solid #fff;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid transparent;}
.float-layer2 .form .selectMenu{ position:absolute; top:29px; left:0; width:288px; border:solid 1px #ddd; background:#fff; border-radius:0 0 3px 3px; z-index:99;}
.float-layer2 .form .selectMenu a{ display:block; padding:0 10px 0 12px; height:30px; line-height:30px; color:#747474; font-size:12px; width:266px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;display:block;}
.float-layer2 .form .selectMenu a:hover{ color:#333; background:#f5f5f5;}
.float-layer2 .form ul li ul li.select-btn{ position:inherit;}
.float-layer2 .form ul li span.tips{ font-size:12px; color:#333; position:absolute; left:114px; top:35px;display:block; }
.float-layer2 .form ul li .area{ width:298px; height:82px;max-width:298px; max-height:82px; overflow-x:hidden;overflow-y:scroll; border:solid 1px #ddd; border-radius:3px; padding:8px 10px; line-height:22px; font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.float-layer2 .form ul li .area.current{border-color:#d41313;}
.float-layer2 .form ul li.area{ margin:35px 0 10px 0; height:100px;}


.float-layer2 ul.check-list{padding-left:100px; width:320px; margin:0 auto;}
.float-layer2 ul.check-list li{ height:24px; line-height:24px; font-size:12px; color:#666; min-height:24px; margin:0;}
.float-layer2 ul.check-list li .check { float:left; margin-right: 7px; width: 14px; height: 14px; display: block; background: url('/media/quick-inquiry/classify.png') 0 -26px no-repeat; cursor: pointer; margin-top:4px;}
.float-layer2 ul.check-list li input[type=checkbox] { display:none; }
.float-layer2 ul.check-list li input[type=checkbox]:checked + label { background-position: -16px -26px; }
.float-layer2 .form .send-now{ width:160px; height:36px; color:#fff; background:#d41313; text-align:center; line-height:36px; font-size:16px; display:block; margin:16px 0 0 141px; border-radius:3px;}
.float-layer2 .form .send-now:hover{ background:#c60000;}
.float-layer2 .form .close-btn2{width: 16px;height: 16px; position:absolute; right:15px; top:14px; background: url('/media/quick-inquiry/qiugou.png') -28px -17px no-repeat;display: block;}
.float-layer2 .form .close-btn2:hover{background-position:-28px 0;}

.float-layer2 .form-main li .erro_alert1 {top: inherit;bottom: 9px;right: 18px;}

.step2{ margin:40px 0 0 65px; display:none;}
.step2 p{ font-size:14px; color:#333; margin-bottom:25px;}
.step2 ul{ width:402px; border-top:dotted 1px #ddd; padding-top:30px;}
.float-layer2 .form .step2 ul li label{ width:78px;}
.float-layer2 .form .step2 a.send-now{ margin:45px 0 0 80px;}

.step3{ margin:120px 0 0 0; display:none;}
.step3 p{ text-align:center; line-height:30px; color:#666; font-size:14px;}
.step3 p.icon{ height:40px; line-height:40px; font-size:18px; color:#333; margin-bottom:10px;}
.step3 p.icon span{ width:40px; height:40px; display:inline-block; background:url('/media/quick-inquiry/quick-inquiry.png') 0 -29px no-repeat; vertical-align:middle; margin-right:10px;}
.float-layer2 .form .step3 a.send-now{ margin:45px auto 0 auto;}