.pro_wrap{ width: 485px;  margin-left: 15px; border-bottom: #dcdcdc dotted 1px; padding-bottom: 15px; margin-top: 15px; float: left; display: inline;}
.pro_wrap table{width: 100%; height: 100%;table-layout: fixed;}
.pro_wrap table td{ line-height:normal;}
.pro_wrap .pro_pic{ ;width: 100px; height: 100px;  border: #e7e7e7 solid 1px; float: left; display: inline; overflow: hidden;}

.pro_wrap .pro_con{ float: left; display: inline; margin-left: 10px; width: 365px;  font-size: 12px; line-height: 18px;}
.pro_wrap .pro_con .pro_tit{ font-weight: bold;}
.pro_wrap .pro_con p{color: #555; font-size: 11px; margin-bottom: 0; margin-top: 10px;}
.new_pro,.new_pro li{ margin: 0; padding: 0; list-style: none;}
.new_pro{ margin: 8px;}
.new_pro li{ background: url(../images/index_006.gif) no-repeat 0 10px; padding-left: 10px;}
.f14{ font-weight: bold; font-size: 12px;}

.box_content{  padding-bottom: 0;}



