
.con_title{ width: 100%; clear: both; font-size: 20px;  padding-bottom: 8px;line-height: 18px;}
.photo_box{ width: 402px; height: 252px; margin-left: 10px; margin-top: 10px; float: left; display: inline;}
.big_box{ width: 400px; height: 250px; background: #f1f1f1; border:#e6e6e6 solid 1px;}
.big_box table{ height: 100%; width: 100%;}
.fram_box{ width:265px; margin-right: 13px; line-height: 16px; margin-top: 15px; float: right; display: inline;}
.fram_box table{ width: 250px; table-layout: fixed; padding-left: 10px;}
.fram_box th,.fram_box td{ vertical-align: top;color: #444; font-size: 11px; text-align: left; padding: 5px 0; border-bottom:  #dcdcdc dotted 1px;}
.fram_box td{ color: #000;}
.fram_box th{ font-weight: normal; width: 120px;}
.pro_detail{ width: 690px; margin: 0 auto; overflow: hidden;}
.con_wrap{  padding: 10px 5px; line-height: 20px;}
.fram_tit{ background: #f1f1f1; font-size: 11px; font-weight: bold; line-height: 22px; padding-left: 10px;}


.ps_wrap{ width: 680px; margin: 0 auto;}
.ps_wrap dt,.ps_wrap dd,.ps_wrap dl{ margin: 0; padding: 0; }
.ps_wrap th{ width: 143px; text-align: left;}
.ps_wrap dt{ font-weight: bold; line-height: 24px; }
.ps_wrap dd span{ padding-right: 30px;}
.ps_wrap td,.ps_wrap th{ height: 40px; padding-top: 10px; border-bottom: #b0b0b0 dotted 1px;}
.ps_wrap td{ padding-left: 10px;}
.logo_con{ float: left; display: inline; margin-right: 10px;}

.control_wrap{ width: 668px; height: 300px; margin: 0 auto;}
.control_wrap .box_c{ width: 320px; margin-left: 10px; float: left; display: inline; margin-top: 20px;  font-size: 11px; }
.control_wrap .box_c th{ width: 100px; text-align: left;}


.pro_wrap .pro_tit{ width: 100%; clear: both; font-size: 11px; text-align: center; line-height: 18px;}
.pro_wrap{ width: 155px; margin-left: 15px; margin-top: 10px; float: left; display: inline;}
.pro_wrap table{width: 100px; height: 100px;table-layout: fixed;}
.pro_wrap table td{ line-height:normal;}
.pro_wrap .pro_pic{ ;width: 100px; height: 100px;  border: #d2d2d2 solid 1px; float: left; display: inline; margin-left: 28px; overflow: hidden;}


.message_warp{ width: 708px; background: #fcf4cd; border:#f1d38b solid 1px;}
.message_warp .title{ font-size: 11px; font-weight: bold;  line-height: 25px; height: 25px; text-indent: 10px;}
.message_warp .mess_con_wrap{ width: 698px; background: #fff; margin: 5px; margin-top: 0;overflow: hidden;}

.message_warp .mess_contact{ float: left; display: inline; width: 167px; margin-left: 10px; margin-top: 10px;}
.mess_icon ul{ margin: 0; padding: 0; padding:10px 10px 0 10px; }
.mess_icon li{height: 16px; padding-bottom: 12px; padding-left: 22px; list-style: none; color: #000; }
.mess_icon .i_1{  background: url(../images/index_002.gif) no-repeat -205px -41px; padding-bottom: 9px;}
.mess_icon .i_3{  background: url(../images/index_002.gif) no-repeat -205px -121px; }
.mess_contact .vcd{ padding:0 0 10px 27px; margin-left: 5px;  height: 24px; line-height: 24px; background: url(../images/index_002.gif) no-repeat -205px -319px;}

.inquiry_wrap{width: 490px; font-size: 11px;overflow: hidden; background: #f7f7f7; float: right; display: inline; margin: 10px; margin-left: 0;}
.lH85{ font-size: 11px; line-height: 32px; height: 32px; font-weight: bold; }
.RM83{ margin-top: 5px; }
.RM83 td{padding: 4px 3px 4px 0; vertical-align: top;}
.RM83 th{ padding-left: 12px; vertical-align: top; padding-right: 5px;}
.J789{ font-size: 12px; font-family:Arial; float: left; display: inline;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;height: 22px;line-height: 22px;padding: 0 5px;}
.kG8b{ text-align: right; line-height: 16px; height: 16px; font-size: 10px; color: #666;}
.kG8b font{ color: #C10404; font-size: 10px; font-weight: bold;}
.RM83 .xH8f{ float: left; display: inline; margin-top: 7px; margin-left: 5px; font-size: 10px;}
.RM83 .uf91{ font-weight: bold; line-height: 22px; font-size: 11px;}
.wi97{ margin-left: 9px; padding: 5px; overflow: hidden; width: 454px; height: 150px; font-size: 12px; font-family: Arial;border-color: #99AABD #D2DCE8 #D2DCE8 #99AABD;border-style: solid;border-width: 1px;}
.send_title{ font-weight: bold; padding-left: 9px; line-height: 24px; height: 24px;}
.red{ color:red;}

.me_ico_wrap{ height: 24px; line-height: 24px;  margin-top: 13px; padding-left: 32px;background: url(../images/index_002.gif) no-repeat -195px 3px; }

.contact_wrap{ padding: 10px; padding-bottom: 0;}
.contact_wrap th,.contact_wrap td{ color: #000;font-size: 11px; padding:7px 5px;font-weight: normal;border: #fff solid 1px;}
.contact_wrap th{ text-align: right; color: #333;}
.contact_wrap .bg_box{  background: #f1f1f1;}

.sitemap_list{ width: 680px; line-height: 22px; margin: 0 auto; table-layout: fixed;}
.sitemap_list th{ font-weight: bold; text-align: left;}
.sitemap_list .lists{ border-bottom: #CACACA dotted 1px;}
.sitemap_list .lists a{ width: 155px; float:left; display: inline; padding-left: 10px;background:url("../images/index_002.gif") no-repeat scroll -215px -320px }

.sitemap_cat_list{ width: 690px; margin-left: 12px; overflow: hidden;}
.sitemap_box{ font-size: 11px; float: left; display: inline; width: 335px; margin-right: 10px; }
.sitemap_box .sm_tit{background: #f1f1f1; width: 100%; line-height: 22px;}
.sitemap_box .sm_tit a{ font-weight: bold; font-size: 11px; padding-left: 10px; }
.sitemap_box ul{ margin: 0; padding: 0; float: left; display: inline; margin-left: 10px; line-height: 18px;}
.sitemap_box ul li{ padding-bottom: 5px;width: 325px;float: left;list-style: none; padding-left:  10px; margin: 0;background:url("../images/index_002.gif") no-repeat scroll -215px -321px}    float: left;