@charset "utf-8";
* { margin:0; padding:0;}
body { font-size:14px; font-family:"Catamaran-Regular",sans-serif; }
a { text-decoration:none; color:#000;}
img,input { border:0; outline:none}
ul,li { list-style:none;}
/*测试*/
.l1 { float:left;}
.r1 { float:right;}
.lr { margin-right:auto; margin-left:auto;}
.catamar { font-family:"Catamaran-Regular",sans-serif;}
.hong { color:#af0000;}
.hui { color:#6a6a6a;}
.bai { color:#fff;}
.baibaibai { color:#fff;}
.baibaibai:hover {  text-decoration:none;}
.hei { color:#000;}
.hei:hover { text-decoration:none;}
.clear { clear:both; height:0; width:0px; line-height:0; font-size:0;}
 @font-face { 
font-family: 'Catamaran-Regular'; 
src:
	url('../font/Catamaran-Regular.ttf') format('truetype'), 
	url('fontName11.svg#fontName') format('svg'); /*无此类字体*/
} 
 @font-face { 
font-family: 'Montserrat-Regular'; 
src:
	url('../font/Montserrat-Regular.ttf') format('truetype'), 
	url('fontName11.svg#fontName') format('svg'); /*无此类字体*/
} 

/*gonggong*/
.ym_header {background:#fff none repeat scroll 0 0;height: 110px; width: 100%;}
.ym_nav,.ym_container,.ym_con_pic { width:980px; margin:0 auto; overflow:hidden;}
.ym_nav_logo { width:180px; height:62px; margin-top: 24px; float: left;}
.ym_nav_menus { float:left; margin-left:120px}
.ym_nav_menus>li {  display: block;float: left; margin-left: 35px; }
.ym_nav_menus>li>a {color: #666;  float:left;  text-transform: uppercase; font-size: 12px; font-weight: 600; line-height: 20px; margin: 45px 0; display: block; }
.ym_nav_menus li a:hover {  color: #333;   }
.ym_nav_menus li .icon-arrowDown { font-size:10px; color:#999; margin-left:6px}
.ym_nav_right .icon-fangdajing,.nav_right .icon-shezhi,.nav_right .icon-gouwuche   { font-size:18px; color:#666; margin:0 14px }
.ym_nav_right { float:right; margin-top:44px;}
.ym_nav_right_a { cursor:pointer;}
.ym_nav_right_input1 { height:44px; line-height:44px; color:#999; padding-left:10px; float:left; width:210px;}
.ym_nav_right_input2 { float:right; width:80px; background:#383838; height:44px; line-height:44px; color:#FFFFFF; cursor:pointer}

#banner{width:100%;	float:left;	height:600px;	overflow:hidden;position:relative;}
#banner .swiper-slide{	width:100%;	float:left;	height:600px;}

#banner .arrow-left {position: absolute;left: 20px;top: 55%;margin-top: -35px;width: 70px;height: 70px;z-index:999;}
#banner .arrow-right {position: absolute;right: 20px;top:55%;margin-top: -35px;width: 70px;height: 70px;z-index:999;}
#banner .pagination {position: absolute;left: 0;text-align: center;bottom: 5px;width: 100%;z-index:999;}
#banner .swiper-pagination-bullet {display: inline-block;width: 10px;height: 10px;border-radius: 10px;background: white;margin: 0 3px;cursor: pointer;transform:scale(0.4,0.4);transition: all 0.3s ease-in-out;}
#banner .swiper-pagination-bullet-active{	transform:scale(1,1);}
#banner #mainTheme,#banner #mainTheme2 {letter-spacing: -3px;padding-top: 24px;margin-bottom:20px;color:#fff;text-align:center;position:relative;display:inline-block;}
#banner #mainTheme h1,#banner #mainTheme2 h1{	padding-right:20px;	text-transform: uppercase;	font-size: 60px;	color:#3f3f3f; font-weight:700;	font-family:Montserrat-Regular;	letter-spacing:2px;	width:750px;	text-align:left;}
#banner #mainTheme span,#banner #mainTheme2 span{font-size: 28px;position: absolute;right:-40px;
top: 170px;display: block;width: 38px;height: 38px;line-height: 38px;text-align: center;background:#ff7200;color:#fff;-webkit-border-radius: 38px;-moz-border-radius: 38px;border-radius: 38px;font-style: italic;font-weight: normal;letter-spacing:2px;text-shadow:none;}
#banner #swiper-slide1 p,#banner #swiper-slide2 p{margin-bottom: 50px;color:#7e7e7e;font-size: 18px;line-height: 28px;width:750px;text-align:left}
#banner #swiper-slide2 dt{font: normal 34px/200% arial,microsoft yahei;margin-top:180px;color:#4f72d6;}
#banner #swiper-slide2 dd{margin-bottom: 10px;font: normal 22px/180% microsoft yahei;text-align:center;letter-spacing:3px;color:#4f72d6;}
#banner .button1 {background-color: #383838;border: 1px solid #383838;color: #fff; font-family: "Montserrat",sans-serif; font-size: 13px;font-weight: 500;height: 44px;line-height: 24px;    padding: 10px 50px;   text-transform: uppercase;}
#banner .button1:hover { background-color: #111;border: 1px solid #111; }
#banner .icon-arrow-left-circle { font-size:50px; color:#ccc}
#banner .icon-arrow-left-circle:hover {  color:#666; }
#banner .icon-xiangyou_jiantou { font-size:50px; color:#ccc}
#banner .icon-xiangyou_jiantou:hover {  color:#666; }
#banner .swiper-slide .inner { width:760px; margin:150px auto auto 300px; }

.ym_con_box { width:1200px; overflow:hidden }
.ym_con_ul li { float:left; display:block; margin-right:50px; margin-top:80px; height:60px; line-height:60px;}
.ym_con_ul li a { float:left; font-family: "Catamaran",sans-serif; font-size: 12px; font-weight: 700; letter-spacing: 0.5px; line-height: 18px;padding: 0;  text-transform: uppercase; color:#999; }
.ym_con_ul .ym_con_li a { color:#3f3f3f}
.ym_con_list { float:left; width:228px; margin:auto 20px 30px auto; border:#eeeeee solid 1px; }
.ym_con_text { padding: 4px 14px 10px 14px; }
.ym_con_text a { color:#7a7a7a; font-size:16px; line-height:20px; display:block; height:42px; overflow:hidden; }
.ym_con_text a:hover {color:#333;}
.ym_con_clear { display:none;}
.ym_mian_list { background:#f8f8f8 none repeat scroll 0 0; width:100%; height:514px; margin-top:20px;}
.ym_mian_list h1 { width:980px; text-align:center; font-size: 30px;  line-height: 24px; padding:80px 0 13px 0; color:#464646; text-transform: uppercase; }
.ym_mian_list p { width:980px; text-align:center; color: #888;    font-size: 16px; }
.ym_con_pic .icon-xiangyoujiantou { font-size:12px; margin-right:10px;}
.ym_con_pic .l1{ float:none; text-align:center;}
.ym_mian_ul { width:300px; float:left; margin-top:70px; padding-right:24px; }
.ym_mian_ul li { width:300px; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; line-height:36px;}
.ym_mian_ul li a { color:#888; }
.ym_mian_ul li a:hover { color:#111; }
.ym_bbs { text-align:center; height:350px; padding-top:70px; color:#3f3f3f}
.ym_bbs_a { display:block; background: #f0582f none repeat scroll 0 0;  color: #fff;   font-weight: 700;    text-transform: uppercase; width:150px; height:40px; line-height:40px; margin:0 auto;}
.ym_bbs_a:hover { background-color:#e2441a;}
.ym_bbs h1 {  text-transform: uppercase; margin:10px 0 10px 0 ; }
.ym_bbs p { color: #888;    font-size: 16px; margin-bottom:30px;}
.ym_end_menu { height:240px; border-top: 1px solid #f0f0f0; width:100%; padding-top:50px; background:#3F4145;}
.ym_end_menu_dl1 { width:280px; float:left; margin-right:50px;}
.ym_end_menu_dl1 dt,.ym_end_menu_dl2 dt,.ym_end_menu_dl3 dt { color: #505050;    font-size: 14px;    font-weight: 700;    margin-bottom: 25px;    text-transform: uppercase; letter-spacing: 1px }
.ym_end_menu_dl1 dd,.ym_end_menu_dl2 dd a  { color: #a3a3a3;    font-size: 14px;    line-height: 24px; }
.ym_end_menu_dl2 dd a { width:100%; text-overflow:ellipsis;overflow:hidden;white-space:nowrap; display:block; }
.ym_end_menu_dl2 dd a:hover { color: #666; }
.ym_end_menu_dl2 { float:left; width:160px;  margin-right:30px;}
.ym_end_menu_dl3 { float:right; width:270px; }
.input1 { border-color: #eee; float:left;   border-style: solid;    border-width: 0 0 1px;    color: #aaa;    font-size: 12px;    height: 24px;    padding: 0;    width:70%; }
.input2 { background-color: transparent; border-color: #eee; border-style: solid;   float:left;   border-width: 0 0 1px; color: #6b6b6b;display: block; font-size: 12px;height: 25px;text-transform: uppercase;  width:30%;  padding: 0; cursor:pointer;   }
.ym_end_menu_dl3 .icon-twitter,.ym_footer .icon-twitter { color:#9c9c9c;  margin-right:10px;}
.ym_end_menu_dl3 .icon-twitter:hover,.ym_footer .icon-twitter:hover { color:#666;}
.ym_end_menu_dl3 .icon-facebookicon,.ym_footer .icon-facebookicon { color:#9c9c9c; font-size:14px;  margin-right:14px;}
.ym_end_menu_dl3 .icon-facebookicon:hover,.ym_footer .icon-facebookicon:hover { color:#666;}
.ym_end_menu_dd1 { height:116px; overflow:hidden;}
.ym_end_menu_dd { padding-top:50px;}
.ym_end_menu_dd a { float:left}
.ym_footer { width:100%; height:56px; line-height:56px; background:#333; font-size:12px; color:#999;}


/*nie ye xiu gai css-products*/
.main-content .right-content .product-all .product-intro .msg-detail .contact-btn a{background:#383838; border-radius:0px;}
.main-content .right-content .product-all .product-intro .msg-detail .contact-btn a:hover{ background:#111;}
.main-content .right-content .product-box .title a{  background:#383838;border-radius:0px; }
.main-content .right-content .product-box .title a:hover{ background:#111;}
.left-content .menu-list dl dt{  background:#383838;  border-radius:0;}
.contact-msg .btn a{ background:#383838;  border-radius:0px;}
.contact-msg .btn a:hover{ background:#111;}
.select-flag .select-box i{background:url(../images/slide-flag.png) left top no-repeat;}
.left-content .menu-list dl dd{ background:#fff url('../images/product-icon.png') -180px 17px no-repeat; }
.main-content .right-content .product-box ul li a.add-basket,.main-content .right-content .view-page ul li.view-li a,.main-content .right-content .view-page .page a,.main-content .right-content .product-all .product-intro .left-img a.add-basket,.main-content .right-content .quality-none p i,.main-content .right-content .certification-none p i,.scrollArea ul.small-list li,.news-page ul li a.prev,.news-page ul li a.next,.recom-product .slide-more i,.left-content .menu-list2 .update span i,.left-content .menu-list .see-more i{background:url('../images/product-icon.png') 0 0 no-repeat; }
.main-content .right-content .product-box .title i{  background:#383838; }
.crumb ul li a,.product-categories td a,.search-product dt,.contact-info .right-list ul li .tips,.produce-show .img-show .small-img .prev-next a,.simple-intro ul li span i,.nav li a i,.product-img .back-page a i,.home-show .img-show .small-img .prev-next a{ background:url('../images/shop-icon.png') 0 0 no-repeat; }
.contact-info .right-list ul li .tips{ background-position:-182px -88px; float:left; padding-left:25px; cursor:pointer; position:relative;}
.contact-info .right-list .send-btn a,.contact-info .right-list .send-btn button{ background:#383838; border-radius:0px; }
.simple-intro .contact-btn a{ border:solid 1px #383838; background:#383838; border-radius:0px; }
.recom-product .slide-more i { background-position:0 -235px; }
.recom-product .slide-more i.less{ background-position:-18px -235px;}
.contact-info .right-list .send-btn a,.contact-info .right-list .send-btn button{ background:#383838; border-radius:0px; }
.crumb{margin-bottom:0px;}
.product-detail .title i,.product-description .title i,.new-products .title i,.product-categories .title i,.contact-us .title i,.home-show .title i,.popular-search .title i,.recom-product .title i{ background:#383838; }
.contact-info .right-list .send-btn a:hover,.contact-info .right-list .send-btn button:hover{background:#111;}
.contact-info1 .right-list .send-btn{ margin:213px 0 0 118px;}
.main-content{ margin:0 auto 0 auto;}

.produce-show{ margin-top:8px;}
.contact-info .right-list ul li .tips{ background-position:-182px -88px; float:left; padding-left:25px; cursor:pointer; position:relative;}
.contact-info .right-list .send-btn a,.contact-info .right-list .send-btn button{ background:#383838; border-radius:0px; }
.simple-intro .contact-btn a{ border:solid 1px #383838; background:#383838; border-radius:0px; }
.recom-product .slide-more i { background-position:0 -235px; }
.recom-product .slide-more i.less{ background-position:-18px -235px;}
.product-detail .title i,.product-description .title i,.new-products .title i,.product-categories .title i,.contact-us .title i,.home-show .title i,.popular-search .title i,.recom-product .title i{ background:#383838; border-radius:3px;}



.intro-txt{ margin-top:20px;}
.news-detail .news-art p{ line-height:30px;}
.main-content .right-content .quality-none p i,.main-content .right-content .certification-none p i{ background-position:-60px -76px;}

.hot-search dt{ background-position:-186px -24px; padding-left:25px; float:left;}
.search-product { padding-top:15px;}
.hot-search { margin-top:0px;}

.recom-product{ position:relative;}
.recom-product ul{ margin:15px 0 28px 0; height:162px; overflow:hidden;}
.recom-product ul.cur{ height:auto;}
.recom-product ul li{ float:left; margin-left:30px; font-size:14px; line-height:22px; height:44px; margin-bottom:13px; width:440px;}
.recom-product ul li em{ width:4px; height:4px; display:block; float:left; margin:8px 8px 0 0; border:solid 1px #a0a0a0; border-radius:50px; vertical-align:2px;}
.recom-product ul li a{ color:#333; width:426px; display:block; float:left;}
.recom-product ul li a:hover{ text-decoration:underline;}
.recom-product .slide-more{ position:absolute; left:0; bottom:0; width:978px; height:40px; background:#f9f9f9; text-align:center; line-height:40px; border-top:solid 1px #dddddd;}
.recom-product .slide-more a{ color:#666;}
.recom-product .slide-more a:hover{ color:#6c7c93;}
.recom-product .slide-more i{ width:12px; height:6px; display:inline-block; background-position:0 -212px; margin-left:10px; vertical-align:2px;}
.recom-product .slide-more i.less{ width:12px; height:6px; display:inline-block; background-position:-18px -212px; margin-left:10px; vertical-align:2px;}

.product-map{ margin:8px 0 6px 0; background-color:#fff; border:solid 1px #ddd; border-radius:3px;}
.product-map .title{ height:72px; border-bottom:solid 1px #ddd; background:#f9f9f9; font-size:10px; color:#333; font-weight:bold; padding-left:24px; line-height:72px;}
.product-map .title span{ width:4px; height:18px; display:inline-block; border-radius:3px; margin:28px 9px 0 0; vertical-align:-1px; background:#6c7c93;}
.product-map h1{ display:inline; font-weight:bold; font-size:2em;}
.product-list{padding-top:15px;}
.product-list ul{margin-bottom:30px; overflow:hidden;}
.product-list ul li{ width:450px; float:left; margin:0 15px; line-height:26px; height:26px; font-size:14px; display:block; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
.product-list ul li em{ width:4px; height:4px; display:inline-block; border:solid 1px #949494; border-radius:50px; vertical-align:1px; margin-right:8px;}
.product-list ul li a{ color:#666;}







































































































































